.order-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}

.btn-review-order{
    width: 90%;
    padding: 10px;
    margin: 6px;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    border: none;
}